VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwaW1rbmFjdmVzcnJkeHdrbnhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxMDcwMTUsImV4cCI6MjEwMjY4MzAxNX0.Y3Dcc60J4FsqXJf50pn_k1IWVm_9AvLDpN5MSa0gKkc
VITE_SUPABASE_URL=https://cpimknacvesrrdxwknxq.supabase.co